<app-title></app-title>

<div class="courses-panel">
  <h3>Users</h3>

  <mat-tab-group>
    <mat-tab label="Users">
      <div class="card" style="width: 18rem" *ngFor="let c of users">
        <div class="card-body">
          <h2>{{ c.username }}</h2>
          <br />
          <h3
            class="card-title"
            [ngStyle]="{'background-color':c.status=='active' ?  'yellow': 'red'}"
          >
            {{ c.status|uppercase }}
          </h3>
          <h4>{{ c.lastSeen }}</h4>
          <br />
        </div>
        <hr />
      </div>
      <br /><br />
    </mat-tab>
  </mat-tab-group>
</div>
