<div class="course">
  <h2>Search All Lessons</h2>

<form  [formGroup]="form" class="login-form">
  <mat-form-field class="search-bar">
    <input
      matInput
      placeholder="Type your search"
      autocomplete="off"
      name="search"
      [(ngModel)]="searchText"
      [ngModelOptions]="{standalone: true}"

    />
  </mat-form-field>

  <button class="search" mat-raised-button color="primary" (click)="onSearch()"></button>
    <button
      class="search"
      mat-raised-button
      color="primary"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
    </form>

    <ng-container>
      <ng-container>
        <table class="lessons-table mat-elevation-z7">
          <thead>
            <th>title</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Fees</th>
          </thead>
          <tr *ngFor="let a of courseA| filter:searchText">

            <td>{{a.title}}</td>
            <td>{{a.author| uppercase}}</td>
            <td>{{a.duration|titlecase}}</td>
            <td>{{a.fees| currency}}</td>

          </tr>
        </table>
      </ng-container>
    </ng-container>

    <ng-template #detail>
      <button mat-raised-button class="back-btn" *ngIf="flag">
        <mat-icon>arrow_back_ios</mat-icon>
        Back to Search
      </button>
      <app-search-lessons lesson="activeLesson"></app-search-lessons>
    </ng-template>
</div>
