<div class="course">
  <h2>Search All Lessons</h2>

  <mat-form-field class="search-bar">
    <input
      matInput
      placeholder="Type your search"
      autocomplete="off"
      name="search"
      #s
    />
  </mat-form-field>

  <button class="search" mat-raised-button color="primary">
    <button
      class="search"
      mat-raised-button
      color="primary"
      ngModel="search"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>

    <ng-container>
      <ng-container *ngIf="flag">
        <table class="lessons-table mat-elevation-z7">
          <thead>
            <th>#</th>
            <th>Description</th>
            <th>Duration</th>
          </thead>
        </table>
      </ng-container>
    </ng-container>

    <ng-template #detail>
      <button mat-raised-button class="back-btn" *ngIf="flag">
        <mat-icon>arrow_back_ios</mat-icon>
        Back to Search
      </button>

      <app-search-lessons lesson="activeLesson"></app-search-lessons>
    </ng-template>
  </button>
</div>
