<app-title></app-title>
<app-alerts [message]="'Suceefully inserted!'" [type]="'primary'" *ngIf="isSuccess"></app-alerts>
<app-alerts [message]="'UnSuceefully inserted!'" [type]="'danger'" *ngIf="isSuccess==false"></app-alerts>
<mat-card class="login-page">
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="customerForm"
      class="login-form"
    >
      <mat-form-field>
        <input
          matInput
          type="firstName"
          name="firstName"
          placeholder="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid': f['firstName'].errors && f['firstName'].touched,
            'is-valid': !f['firstName'].errors
          }"
        />
        <div class="invalid-feedback" *ngIf="f['firstName'].errors">
          <div
            *ngIf="f['firstName'].errors['required'] && f['firstName'].touched"
          >
            Please Enter FirstName
          </div>
          <div
            *ngIf="f['firstName'].errors['pattern'] && f['firstName'].touched"
          >
             FirstName cannot be numbers
          </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="lastName"
          name="lastName"
          placeholder="lastName"
          formControlName="lastName"
        />
        <div class="invalid-feedback" *ngIf="f['lastName'].errors">
          <div
            *ngIf="f['lastName'].errors['required'] && f['lastName'].touched"
          >
            Please Enter lastName
          </div>
          <div
          *ngIf="f['lastName'].errors['pattern'] && f['lastName'].touched"
        >
           lastName cannot be numbers
        </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <div class="invalid-feedback" *ngIf="f['email'].errors">
          <div *ngIf="f['email'].errors['required'] && f['email'].touched">
            Please Enter email
          </div>
          <div
          *ngIf="f['email'].errors['pattern'] && f['email'].touched"
        >
           please check your email address
        </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <div class="invalid-feedback" *ngIf="f['password'].errors">
          <div *ngIf="f['password'].errors['required'] && f['password'].touched">
            Please Enter password
          </div>
          <div
          *ngIf="f['password'].errors['pattern'] && f['password'].touched"
        >
           please check your password ,enter alpanurmeric values
        </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="phoneNumber"
          placeholder="phoneNumber"
          formControlName="phoneNumber"
        />
        <div class="invalid-feedback" *ngIf="f['phoneNumber'].errors">
          <div *ngIf="f['phoneNumber'].errors['required'] && f['phoneNumber'].touched">
            Please Enter phone number
          </div>
          <div
          *ngIf="f['phoneNumber'].errors['pattern'] && f['phoneNumber'].touched"
        >
           please check phonenumbers!
        </div>
        </div>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onSaveOrUpdate()"
        [disabled]="customerForm.invalid"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
